<!-- page for edit user profile like username, bio, password -->

{% extends 'base.html' %}

{% block content %}

<div class="flex items-center justify-center min-h-screen">
    <div class="bg-yellow-100 p-8 rounded-lg shadow-lg w-full max-w-md bg-opacity-50 shadow-lg">
        <h2 class="text-3xl font-bold text-center text-pink-900 mb-6">Edit Profile</h2>
        {% if error %}
            <p class="text-red-500 text-center mb-4">{{ error }}</p>
        {% endif %}
        <form method="POST">
            <div class="mb-4">
                <label for="username" class="block text-pink-900 mb-2">Username</label>
                <input type="text" name="username" id="username" class="w-full p-3 bg-yellow-100 rounded-lg bg-opacity-50 text-white focus:outline-none focus:ring-2 focus:ring-pink-600" value={{session['username']}} required>
            </div>
            <div class="mb-4">
                <label for="bio" class="block text-pink-900 mb-2">Bio</label>
                <textarea name="bio" id="bio" class="w-full p-3 bg-yellow-100 rounded-lg bg-opacity-50 text-white focus:outline-none focus:ring-2 focus:ring-pink-600">{{ session[bio] }}</textarea>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-pink-900 mb-2">Password</label>
                <input type="password" name="password" id="password" class="w-full p-3 bg-yellow-100 rounded-lg bg-opacity-50 text-white focus:outline-none focus:ring-2 focus:ring-pink-600" value={{session['password']}} required>
            </div>
            <button type="submit" class="w-full bg-pink-600 hover:bg-pink-700 text-white font-bold py-3 rounded-lg bg-opacity-50 transition duration-300">Update</button>
        </form>
    </div>
</div>

{% endblock %}