{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen">

    <!-- Rate Songs -->
    <div class="bg-yellow-100 p-6 rounded-lg bg-opacity-50 shadow-lg mb-8 bg-opacity-50">
        <h3 class="text-xl font-semibold text-pink-900 mb-4">Recommended Songs Based On Your Input</h3>
        <form method="POST" action="/recommendation" class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label for="song_id" class="block text-pink-900 mb-2">Enter Song Name</label>
                <input type = "text" name="song_name" id="song_name" class="w-full p-3 bg-yellow-100 rounded-lg bg-opacity-50 text-white bg-opacity-30" required>
            </div>
            <div>
                <label for="song_id" class="block text-pink-900 mb-2">Enter Artist Name</label>
                <input type = "text" name="artist" id="artist" class="w-full p-3 bg-yellow-100 rounded-lg bg-opacity-50 text-white bg-opacity-30" required>
            </div>
            <div class="flex items-end">
                <button type="submit" class="w-full bg-pink-600 hover:bg-pink-700 text-white font-bold py-3 rounded-lg bg-opacity-50 transition duration-300 bg-opacity-50">Submit</button>
            </div>
        </form>
    </div>

    <!-- Model Performance -->
    <!-- {% if rmse %}
        <div class="bg-yellow-100 p-4 rounded-lg bg-opacity-50 shadow-lg mb-8 text-center">
            <p class="text-pink-900">Model Performance (RMSE): {{ rmse|round(2) }}</p>
        </div>
    {% endif %} -->

    <!-- Recommendations -->
    <!-- {% if recommendations %}
        <div class="bg-yellow-100 p-6 rounded-lg bg-opacity-50 shadow-lg">
            <h3 class="text-xl font-semibold text-pink-900 mb-4">Recommended Songs</h3>
            <ul class="space-y-4">
                {% for song_id, song_name, pred in recommendations %}
                    <li class="flex justify-between items-center bg-yellow-100 p-4 rounded-lg bg-opacity-50">
                        <span>{{ song_name }}</span>
                        <span class="text-pink-700">
                            {% if pred == "Popular" %}
                                Highly Popular
                            {% else %}
                                Predicted Rating: {{ pred }}
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p class="text-pink-700 text-center">Rate some songs to get personalized recommendations!</p>
    {% endif %} -->
</div>
{% endblock %}